body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 80px;
    background-color: #FFFFFF;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container>.nav-container {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
}

.logo-span {
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
}

h1 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 3%;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    padding: 28px 0;
}

a:hover {
    color: #2196F3;
}

.href:hover {
    border-bottom: 4px #2196F3 solid;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header-number, .header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero {
    width: 100%;
    height: 700px;
    background-image: url(src/images/community.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero>button {
    width: 12%;
    height: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
}

.hero>h2 {
    width: 35%;
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}

.no-scroll {
overflow: hidden;
}

.modal {
position: absolute;
top: 50%;
left: 50%;
min-width: 530px;
min-height: 580px;
padding: 15px;
background-color: #FFFFFF;
transform: translate(-50%, -50%);
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-div {
    width: 100%;
    height: 40px;
    border: 1px solid #21212133;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-div>input {
    width: 85%;
    height: 35px;
    border: none;
    cursor: pointer;
}

.btn {
    position: relative;
    left: 93%;
    width: 6%;
    height: 30px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.textarea-div>h4 {
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;

}

.textarea-div>input {
    height: 110px;
    border: 1px solid #21212133;
}

form {
    width: 80%;
}

.textarea-div {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}

.check-div {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.modal-li {
    width: 100%;
    display: flex;
    align-items: center;
}

.modal-li>a {
    text-decoration: underline;
}

.form-btn {
    width: 48%;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: #FFFFFF;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 25%;
    margin-top: 20px;
}

.modal-label>h4 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.modal-container>h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
}


.work {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px 0 70px 0;
}

.work-container {
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-div {
    width: 15%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.work-div>h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-top: 30px;
}

.work-div>p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    margin: 0;
}

.portfolio {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.portfolio-container>h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
}

.portfolio-container>div {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.portfolio-div {
    max-width: 370px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.portfolio-div>img {
    width: 370px;
    height: 294px;
}

.portfolio-div>div>p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.portfolio-div>div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F303ACC;
    width: 100%;
    height: 70px;
    top: 75%;
}

.team {
    height: 800px;
    width: 100%;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
}

.team-art {
    max-width: 270px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 4px 3px 1px #00000033;
}

.team-art>div>img {
    max-width: 44px;
    height:44px;
}

.team-art>div>.facebook {
    max-width: 24px;
    height: 24px;
}

.team-art>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-art>h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.team-art>p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #757575;
}

.team-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.team-container>h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
}

.team-container>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.client {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.client-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client-container>div {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F303A;
}

.footer-container {
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-input {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-input>h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-input>form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.footer-input>form>input {
    width: 60%;
    height: 50px;
}

.footer-input>form>div {
    width: 40%;
    height: 50px;
    background-color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer-input>form>div>button {
    background-color: #2196F3;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.footer-logo {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo>h2 {
    margin: 14px 0;
    color: #FFFFFF;
}

.footer-logo>ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-logo>ul>li {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
}

.footer-join {
    width: 20%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-join>h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-join>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-join>div>.facebook {
    max-width: 24px;
    height: 24px;
}

.footer-join>div>img {
    max-width: 44px;
    height: 44px;
    border-radius: 50%;
}