header {
    display: flex;
    height: 80px;
    background-color: #FFFFFF;
    width: 100%;
    align-items: center;
    justify-content: center;

    .header-container {
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .header-container>.nav-container {
        display: flex;
        align-items: center;
        width: 35%;
        justify-content: space-between;
    }

    .logo-span {
        color: #2196F3;
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 3%;
    }

    h1 {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 3%;
    }

    nav>ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    a {
        text-decoration: none;
        color: black;
        transition: color 0.3s ease;
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2%;
        padding: 28px 0;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #2196F3;
    }

    .href {
    position: relative;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    
    }

    .href::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease, color 0.3s ease;
    }

    .href.active::after {
    transform: scaleX(1);
    }

    .href:hover::after,
    .href.active::after {
    transform: scaleX(1);
    }

    .header-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .header-number, .header-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}