main {

        .hero {
        width: 100%;
        height: 700px;
        background-image: url("../src/images/community.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        }

        .hero>button {
            width: 12%;
            height: 50px;
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            background-color: #2196F3;
            border-radius: 4px;
            border: none;
            color: #FFFFFF;
            box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
        }

        .hero>h2 {
        width: 35%;
        font-family: Roboto;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 6%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        }

        .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        }

        .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        }

        .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        }

        .no-scroll {
        overflow: hidden;
        }

        .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 530px;
        min-height: 580px;
        padding: 15px;
        background-color: #FFFFFF;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .modal-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .modal-div {
            width: 100%;
            height: 40px;
            border: 1px solid #21212133;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .modal-div>input {
            width: 85%;
            height: 35px;
            border: none;
            cursor: pointer;
        }

        .btn {
            position: relative;
            left: 93%;
            width: 6%;
            height: 30px;
            border: 1px solid #0000001A;
            border-radius: 50%;
            background-color: #FFFFFF;
        }

        .textarea-div>span {
            margin: 0;
            font-family: Roboto;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1%;

        }

        .textarea-div>input {
            height: 110px;
            border: 1px solid #21212133;
        }

        form {
            width: 80%;
        }

        .textarea-div {
            width: 100%;
            height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 10px;
        }

        .check-div {
            width:95%;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 10px;
        }

        .check-div>a {
            text-decoration: underline;
            color: #2196F3;
        }

        .form-btn {
            width: 48%;
            height: 50px;
            background-color: #2196F3;
            box-shadow: 0px 4px 4px 0px #00000026;
            color: #FFFFFF;
            border: none;
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 6%;
            text-align: center;
            vertical-align: middle;
            position: relative;
            left: 25%;
            margin-top: 20px;
        }

        .modal-label>span {
            font-family: Roboto;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1%;
            margin: 0;
            margin-bottom: 5px;
        }

        .modal-container>h3 {
            font-family: Roboto;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            color: #212121;
        }


        .work {
            height: 250px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 130px 0 70px 0;
        }

        .work-container {
            height: 200px;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .work-div {
            width: 15%;
            height: 250px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .work-div>h3 {
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-transform: uppercase;
            margin-top: 30px;
        }

        .work-div>p {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            margin: 0;
        }

        .portfolio {
            height: 500px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;
        }

        .portfolio-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .portfolio-container>h2 {
            font-family: Roboto;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            color: #212121;
        }

        .portfolio-container>div {
            width: 65%;
            display: flex;
            justify-content: space-around;
        }

        .portfolio-div {
            max-width: 370px;
            height: 300px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            overflow: hidden;
        }

        .portfolio-div>img {
            max-width: 370px;
            height: 100%;
        }

        .portfolio-div>div>p {
            font-family: Roboto;
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .portfolio-div>div {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2F303ACC;
            width: 100%;
            height: 70px;
            top: 77%;
            transform: translateY(80px);
            transition: transform 0.3s ease;
        }

        .portfolio-div:hover .portfolio--hover{
            transform: translateY(0);
        }

        .team {
            height: 800px;
            width: 100%;
            background-color: #F5F4FA;
            display: flex;
            justify-content: center;
        }

        .team-art {
            max-width: 270px;
            height: 430px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 0 0 4px 4px;
            box-shadow: 2px 4px 3px 1px #00000033;
            animation-name:  teamAnimation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-play-state: paused;
            &:hover {
                animation-play-state: running;
            }
        }

        .team-art>div>img {
            max-width: 44px;
            height:44px;
        }

        .team-art>div>.facebook {
            max-width: 24px;
            height: 24px;
        }

        .team-art>div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .team-art>h3 {
            font-family: Roboto;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            margin: 0;
            margin-top: 30px;
        }

        .team-art>p {
            font-family: Roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
            color: #757575;
        }

        .team-container {
            width: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        .team-container>h2 {
            font-family: Roboto;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 3%;
            text-align: center;
        }

        .team-container>div {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .client {
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .client-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .client-container>div {
            width: 65%;
            display: flex;
            justify-content: space-around;
        }

        .menu {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }

        .menu-container {
            width: 37,5%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-div {
            width: 100%;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .menu-div>div {
            display: flex;
            align-items: center;
            justify-content: center;
            animation-name:  menuAnimation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-play-state: paused;
            &:hover {
                animation-play-state: running;
            }
        }

        .all-div {
            width: 73px;
            height: 38px;
            border-radius: 4px;
            background-color: #F5F4FA;
            color: #212121;
        }

        a {
        text-decoration: none;
        color: black;
        transition: color 0.3s ease;
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 2%;
        padding: 28px 0;
        transition: color 0.3s ease;
        }

        a:hover {
            color: #2196F3;
        }

        .web {
            width: 81px;
            height: 38px;
            border-radius: 4px;
            background-color: #F5F4FA;
            color: #212121;
        }

        .app {
            width: 112px;
            height: 38px;
            border-radius: 4px;
            background-color: #F5F4FA;
            color: #212121;
        }

        .design {
            width: 103px;
            height: 38px;
            border-radius: 4px;
            background-color: #F5F4FA;
            color: #212121;
        }

        .marketing {
            width: 130px;
            height: 38px;
            border-radius: 4px;
            background-color: #F5F4FA;
            color: #212121;
        }

        .menu-div>div {
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .menu-div>div:hover {
            background-color: #2196F3;
            
        }

        .menu-div>div:hover a {
            color: #FFFFFF;
        }

        .menu-div>div>a {
            padding: 0;
        }

        .all-art {
            max-width: 370px;
            height: 404px;
            background-color: #FFFFFF;
            border: 1px #EEEEEE solid;
            box-shadow: 2px 4px 3px 1px #00000033;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: scale(1.05);
                box-shadow:  6px 6px 7px 3px #00000033;
            }
        }

        .allArt_h3{
            margin: 0;
            margin-top: 22px;
            font-family: Roboto;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 6%;
            color: #212121;
            margin-left: 20px;
        }

        .all-art>p {
            @extend .allArt_h3;
            color: #757575;
            margin: 0;
            margin-left: 20px;
        }

        .all-art>div {
            height: 294px;
            max-width: 370px;
            overflow: hidden;
            position: relative;
        }

        .all-art>div>img {
            width: 100%;
            height: 294px;
        }

        .all {
            height: 1350px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 100px;
        }

        .all-container {
            width: 65%;
            height: 1300px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 20px;
            margin-top: 50px;
            
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            background-color: #2196F3E5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .overlay>p {
            max-width: 322px;
            font-family: Roboto;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 3%;
            color: #FFFFFF;
        }

        .all-art:hover .overlay {
            transform: translateY(0%);
        }

        @keyframes teamAnimation {
            50% {
                transform: scale(1.02);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes menuAnimation {
            50% {
                transform: translateY(2px);
            }

            100% {
                transform: translateY(0);
            }
        }
}